$text-color-FFF: #ffffff;
$text-color-333: #333333;
$text-color-F4F: #4f4f4f;
$text-color-0E0: #e0e0e0;
$text-color-DBD: #bdbdbd;

$bg-color-CDB: #2d9cdb;
$bg-color-757: #eb5757;
$bg-color-5F9: #f4f5f9;
$bg-color-95E: #34495e;
$bg-color-544: #253544;
