.header {
  &__content {
    @include useFlex;
    margin-top: 16px;
  }
  &__left {
    @include useFlex;
  }
  &__logo {
    background-color: $text-color-FFF;
    border-radius: 0px 40px 40px 0px;
    cursor: pointer;
  }
  &__logotep {
    padding: 24px 74px 24px 24px;
  }
  &__logo-2 {
    margin-left: 24px;
    margin-right: 16px;
  }
  &__list {
    list-style: none;
    display: flex;
    column-gap: 40px;
    margin-left: 249.5px;
    a {
      text-decoration: none;
      font-weight: 600;
      font-size: 12px;
      line-height: 14.63px;
      letter-spacing: 5%;
      color: $text-color-FFF;
    }
  }
  &__logo-5,
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 1380px) {
  .header__list {
    display: none;
  }
}

@media only screen and (max-width: 910px) {
  .header {
    background-color: $text-color-FFF;
  }
  .header__content {
    margin-top: inherit;
  }
  .header__logo-4 {
    display: none;
  }
  .header__logo-5,
  .header .menu {
    display: inline-block;
    margin-left: 20px;
  }
  .header__logo {
    background-color: inherit;
  }
}

@media only screen and (max-width: 660px) {
  .header__logo-3 {
    display: none;
  }
}

@media only screen and (max-width: 535px) {
  .header__logo-5 {
    display: none;
  }
}
