.help {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    padding: 83px 0 124px;
    text-align: center;
  }
  &__subtitle {
    max-width: 1230px;
    h1 {
      font-weight: 300;
      font-size: 72px;
      line-height: 72px;
      color: $text-color-FFF;
    }
  }
  &__text {
    margin: 0 auto;
    max-width: 526px;
    p {
      font-weight: 600;
      font-size: 20px;
      line-height: 24.38px;
      color: $text-color-FFF;
      margin-top: 40px;
      margin-bottom: 48px;
    }
  }
  &__button-1 {
    @include useBtn_blue;
    margin-right: 20px;
  }
  &__button-1:hover {
    @include useBtn_blue(transparent, $text-color-FFF);
  }
  &__button-2 {
    @include useBtn_blue(transparent, $text-color-FFF);
  }
  &__button-2:hover {
    @include useBtn_blue;
  }
  &__logos {
    padding: 31px 17px 0 41px;
    background-color: $text-color-FFF;
    border-radius: 20px 20px 0 0;
  }
  &__arrow {
    @include useArrow;
  }
  &__arrow:hover {
    @include useArrow($bg-color-757);
  }
}

@media only screen and (max-width: 1380px) {
  .help__title {
    padding: 138px 0 164px;
  }
  .help__subtitle {
    max-width: 840px;
  }
  .help__subtitle h1 {
    font-size: 45px;
    line-height: 55px;
  }
  .help__logo-5,
  .help__logo-6,
  .help__logo-7 {
    display: none;
  }
  .help__logos {
    padding: 20px 15px 0 15px;
  }
  .help__text p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 910px) {
  .help__title {
    padding: 65px 0 89px;
  }
}

@media only screen and (max-width: 820px) {
  .help__subtitle {
    max-width: 530px;
  }
  .help__subtitle h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .help__text {
    max-width: 430px;
  }
  .help__text p {
    font-size: 15px;
    margin-top: 20px;
  }
  .help__logo-4 {
    display: none;
  }
  .help__title {
    padding: 80px 0 125px;
  }
}

@media only screen and (max-width: 660px) {
  .help__title {
    padding: 80px 0 62px;
  }
  .help__logo-3 {
    display: none;
  }
  .help__buttons {
    display: flex;
    flex-direction: column;
  }
  .help__button-1 {
    margin-right: inherit;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 535px) {
  .help__title {
    padding: 43px 0 62px;
  }
  .help__logo-2 {
    display: none;
  }
}
