.tariffs {
  padding: 80px 0;
  background-color: $bg-color-5F9;
  &__content {
    @include useContent;
  }
  &__title {
    h2 {
      @include useTitle;
      margin-bottom: 40px;
    }
  }
  &__cards {
    display: flex;
  }
  &__card {
    padding: 40px 24px 48px 122px;
    max-width: 467px;
    background-color: $text-color-FFF;
    border-radius: 9px 0px 9px 9px;
    opacity: 0.3;
    strong {
      font-weight: 900;
      font-size: 24px;
      line-height: 29.26px;
      letter-spacing: 10%;
      color: $text-color-333;
      margin-right: 120px;
    }
    span {
      display: block;
      font-weight: 400;
      font-size: 48px;
      line-height: 58.51px;
      color: $bg-color-757;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    ul {
      margin-top: 50px;
      margin-bottom: 66px;
      li {
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: $text-color-F4F;
      }
    }
  }
  &__card:hover {
    opacity: 1;
  }
  &__button {
    @include useBtn_blue(transparent, $text-color-F4F, $text-color-F4F);
  }
  &__card:hover &__button {
    @include useBtn_blue;
  }
  &__button-2 {
    @include useBtn_blue(transparent, $text-color-333, $text-color-333);
    margin-top: 40px;
  }
}
